.headerContainer {
  display: flex;
  justify-content: space-between;

  padding: 0 2rem;
  align-items: center;
  color: $white;
  img {
    cursor: pointer;
  }
  svg {
    fill: $white;
    cursor: pointer;
  }
}
